<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
          
  <div class="card-body">
    <h3 class="text-center">search book</h3>
    <form #addstudentform="ngForm" (ngSubmit)="searchformsubmit()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" required [(ngModel)]="search.title" name="title">
      </div>
      <br />
      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" class="form-control" required [(ngModel)]="search.category" name="category">
      </div>
      <br />
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" required [(ngModel)]="search.author" name="author">
      </div>
      <br/>
      <div class="form-group">
        <label for="publisher">publisher:</label>
        <input type="text" class="form-control" required [(ngModel)]="search.publisher" name="publisher">
      </div>
      <br/>
      <div id="outer">
        <div style="float: left; width: 130px"><button type="submit" class="btn btn-success"  >Submit</button></div>
        <div style="float: right; width: 250px"><button type="submit" class="btn btn-secondary" (click)="gotolist()">Back</button></div>
    </div>
    </form>
  </div>
  </div>
  </div>
  </div>
