<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DIGITAL BOOKS</span>
     
      <span class="example-spacer"> </span>
     <div class="content">
      <h4 style="align-content: flex-start;padding-left: 25pc;  margin-left: 10px;">Username :{{userName}}</h4>
      <button align="right" mat-raised-button color="warn" (click)="Logout()">Logout</button>
    </div>
 
    </mat-toolbar>
  </p>
